{% extends "base.html" %}

{% block content %}
<div class="container-lg">
    <h2 class="text-center py-4">Оформление каюты</h2>
    <table class="table mx-auto custom-fixed-table">
        <thead>
        <tr class="table-secondary">
            <th class="col-2">Цвет стен</th>
            <th class="col-2rrr">Эмблема</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if age >= 21 %}
                {% if sex == 'male' %}
                    <td style="background-color: #007ff0"></td>
                {% elif sex == 'female' %}
                    <td style="background-color: #ff4500"></td>
                {% endif %}
                <td><img src="{{ url_for('static', filename='img/martians/martian_adult.jpg') }}"></td>
            {% else %}
                {% if sex == 'male' %}
                    <td style="background-color: #b0c4de"></td>
                {% elif sex == 'female' %}
                    <td style="background-color: #ffa07a"></td>
                {% endif %}
                <td><img src="{{ url_for('static', filename='img/martians/martian_kid.jpg') }}"></td>
            {% endif %}
        </tr>
        </tbody>
    </table>
</div>`
{% endblock %}